/*##########################################################

helplines

##########################################################*/
header,
section,
footer {
    border: solid #ff0;
}

.wrapper {
    border: solid #00f;
}

.row {
    border: solid #f00;
}

.content {
    border: solid #0f0;
}

/*##########################################################

container

##########################################################*/
header {
    background-image: linear-gradient(black, #fff);
}

header .overlay {
    background-color: rgba(72, 120, 212, 0.3);
}

.bg-light {
    background-color: #888;
    color: #000;
}

.bg-dark {
    background-color: black;
    color: #888;
}

#two1 {
    background-image: linear-gradient(red, orange);
}

#three1 {
    background-image: linear-gradient(blue, yellow);
}

footer .navbar {
    border-top: solid white;
}

/*##########################################################

navbar

 ##########################################################*/
header .navbar {
    background-color: #000;
    box-shadow: 2px 2px 4px 0 rgba(80, 80, 80, .8);
}

header .navbar ul {
    background-color: rgba(0, 0, 0, 0);
}

header .navbar li a {
    border-left: 1px solid #555;
}

header .navbar li a:hover,
header .navbar .menu-btn:hover {
    background-color: #555;
}

/*##########################################################

menu icon

 ##########################################################*/
header .navbar .menu-icon .navicon {
    background: #ccc;
}

header .navbar .menu-icon .navicon:before,
header .navbar .menu-icon .navicon:after {
    background: #ccc;
}

/*##########################################################

text elements

 ##########################################################*/
a {
    color: #fff;
}

header h1,
header h2 {
    color: #888;
}

footer a {
    color: #fff;
}