/*##########################################################

container

 ##########################################################*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    min-height: 100vh;
}

.wrapper {
    padding: 64px 16px;
    width: 80vw;
}

header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

header .overlay {
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
}

#one {
    min-height: 100vh;
}

#one .row {
    width: 100%;
}

#two1,
#three1 {
    background-attachment: fixed;
}

#two2 .row,
#three2 .row {
    width: 100%;    
}

#four {
    min-height: 100vh;
}

#four .row {
    width: 100%;
}

#four .content {
    width: 100%;
}

footer .row {
    width: 100%;
}

/*##########################################################

navbar

 ##########################################################*/
header .navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header .navbar li a {
    text-align: center;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

header .navbar .logo {
    display: block;
    float: left;
    font-size: 1.8em;
    padding: 10px 20px;
    text-decoration: none;
}

footer .navbar {
    width: 100%;
    padding: 8px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*##########################################################

menu

 ##########################################################*/
header nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*##########################################################

menu icon

 ##########################################################*/
header .navbar .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .navbar .menu-icon .navicon {
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

header .navbar .menu-icon .navicon:before,
header .navbar .menu-icon .navicon:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .navbar .menu-icon .navicon:before {
    top: 5px;
}

header .navbar .menu-icon .navicon:after {
    top: -5px;
}

/*##########################################################

menu button

 ##########################################################*/
header .navbar .menu-btn {
    display: none;
}

header .navbar .menu-btn:checked~nav .menu {
    max-height: 240px;
}

header .navbar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

header .navbar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .navbar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
header .navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*##########################################################

text elements

 ##########################################################*/
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.txt-jus {
    text-align: justify;
}

.txt-cen {
    text-align: center;
}

.txt-rig {
    text-align: right;
}

.txt-lef {
    text-align: left;
}