/*##########################################################

navbar

 ##########################################################*/

.navbar li {
    float: left;
}

.navbar li a {
    padding: 20px 30px;
}

/*##########################################################

menu

 ##########################################################*/

nav .menu {
    clear: none;
    float: right;
    max-height: none;
}

/*##########################################################

menu icon

 ##########################################################*/

.navbar .menu-icon {
    display: none;
}